.button {
  cursor: pointer;
  background-color: var(--brand-primary);
  padding: var(--space-2) var(--space-3);
  border-radius: 8px;
  color: var(--layout-level0);
  border: 0;
  outline: 0;
  width: fit-content;
}
