.search {
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.search label {
  display: none;
}

.search input {
  padding: var(--space-3) var(--space-3) var(--space-3) var(--space-5);
  width: 100%;
  border-radius: 12px;
  border: 0;
  background-color: var(--layout-level2);
  cursor: text;
}

.search input::placeholder,
.search span,
.search input[type='button'] {
  text-transform: capitalize;
  color: var(--content-nonessential);
  text-align: left;
}

.search span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--space-2);
}

@media (pointer: coarse) {
  .search span {
    display: none;
  }

  .search input {
    padding-left: var(--space-3);
  }
}
