.wrapper {
  width: 100%;
  height: 100%;
}

.card {
  border-radius: 12px;
  background-color: var(--layout-level0accent);
}

.list {
  margin-top: var(--space-4);
  padding-bottom: var(--space-4);
}

.space_y:not(:last-child) {
  margin-bottom: var(--space-4);
}
