.list {
  /* margin-top: var(--space-4); */
  /* padding-bottom: var(--space-4); */
  max-height: calc(100vh - 48px - 24px - 24px);
  overflow-y: scroll;
}

.space_y:not(:last-child) {
  margin-bottom: var(--space-4);
}
